# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

todo.txt
.env*

data/*
data/dci-2.db
data/byYears.json
data/byCorps.json
data/corpsList.json
dci.db